# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Local DynamoDb
.dynamodb

/node_modules
/home/bigtim/Desktop/untitled folder 3/cloud-developer/course-04/project/c4-final-project-starter-code/backend/node_modules